<input type="hidden" class="imaging_data" {{attrs|safe}} value={{value|safe}} />

<div class="image_container">
        {% for image in existing_images %}

        <div class="image_block">
                <span class="image_id">{{image.pk}}</span>
                <a href="/admin/imaging/image/{{image.pk}}/" target="_blank" class="edit_image">Edit</a>
                <a href="#" class="delete_image">Delete</a>
                <img src="{{image.imaging_thumbnail.url}}" alt="Gallery field thumbnail" />
                <span class="image_name">{{image.title|truncatewords:"4"}}</span>
        </div>

        {% empty %}
        <div style="text-align: center; width: 100%">No elements</div>
        {% endfor %}
</div>

<div class="iframe_container">
        <iframe src="/imaging/gallery_iframe_form/student/" class="image_upload_form" width="100%" height="205" frameborder="0"></iframe>
</div>
